<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="groovy.expressions.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="groovy.expressions.Perspective"
            id="groovy.expressions.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="groovy.expressions.View"
            id="groovy.expressions.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="groovy.expressions.NavigationView"
            id="groovy.expressions.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="groovy.expressions.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="groovy.expressions.category"
            id="groovy.expressions.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="groovy.expressions.category"
            id="groovy.expressions.openMessage">
      </command>
      <category
            id="groovy.expressions.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="groovy.expressions.commands.category"
            id="groovy.expressions.commands.sampleCommand"
            name="Sample Command (Classic)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="groovy.expressions.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="groovy.expressions.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="groovy.expressions.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="groovy.expressions.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="groovy.expressions.handlers.SampleClassicHandler"
            commandId="groovy.expressions.commands.sampleCommand">
         <enabledWhen>
            <or>
               <with
                     variable="activePartId">
                  <not>
	                  <equals
	                        value="groovy.expressions.navigationView">
	                  </equals>
                  </not>
               </with>
               <with
                     variable="selection">
                  <count
                        value="2">
                  </count>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="groovy.expressions.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="groovy.expressions.commands.sampleCommand"
                  id="groovy.expressions.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="groovy.expressions.toolbars.sampleToolbar">
            <command
                  commandId="groovy.expressions.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="groovy.expressions.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
